<%- include('partials/header.ejs') %>

<main>

    <div class="container col-md-6 py-5 d-flex align-items-center">   

            <div class="row flex-fill">
                <div class="col">
                    <div class="card ">
                        <div class="card-body">
                            <h4 class="card-title text-center pb-3">About the Project:</h4>
                            <p>This project is a Blog web application that allows the user to view, create, edit and delete posts.</p>
                            <p>It is built with Node.js, Express.js and EJS for practice and study purposes of those tecnologies, aswell as applicability of version control using Git and GitHub</p>
                            <p class="fst-italic">*At this version posts will not persist between sessions as no database is being used yet.</p>
                        </div>
                    </div>
                </div>
            </div>     

    </div>

</main>

<%- include('partials/footer.ejs') %>