main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #333;
    height: 100%;
}

.card{
    width: 100vh;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    height: 10rem;
}

footer{
    background-color: #f8f9fa;
}