html{
    height: 100%;
}

body{
    height: 100%;
}

main{
    background-color: #333;
    align-content: center;
}

footer{
    align-content: center;
    min-height: 150px;
}

.container{
    min-height: 520px;
}

a {
    text-decoration: none;
    color: #198754;
}

a:hover{
    color: #157347
}
